%h1 Recent Crushes

%table
  %tr
    %th
    %th
    %th

  - @crushes.each do |crush|
    %tr
      %td= link_to crush.content, "#"
      %td= link_to crush.user.name, crush.user.profile_url, target: "_blank"
      %td= link_to image_tag(crush.user.pic_url), crush.user.profile_url, target: "_blank"
%br
