%h1 All Users

%table
  %tr
    %th Name
    %th Number of crushes


  - @users.each do |user|
    %tr
      %td= link_to user.name, user
      %td= user.crushes.length

      -# TODO: remove these
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
