.media
  .pull-right.media-object.img-responsive
    = render "users/thumbnail_caption", user: post.user_with_highest_score, post: post
  .media-body
    -# TODO: modal contain facebook post
    %blockquote.pull-right
      %p.post-content
        = post.content
      %small.post-time
        = post.time_display
