.panel.panel-default
  .panel-heading
    Latest Posts
  #post-table.scrollable
    %table.table.table-hover.table-striped
      - @posts.sort_by {|post| post.fb_created_time}.reverse.each do |post|
        %tr
          %td= render "posts/entry", post: post
