%h1 Recent Posts

%table
  %tr
    %th
    %th
    %th

  - @posts.each do |post|
    %tr
      %td= link_to_new_tab post.content, "#"
      %td= link_to_new_tab post.user.name, post.user.profile_url
      %td= link_to_new_tab image_tag(post.user.pic_url), post.user.profile_url
%br
