.modal-header
  %button.close{"aria-hidden" => "true", :'data-dismiss' => "modal", type: "button"} ×
  %h4#post-info-modal-label.modal-title= @post.fb_created_time.strftime(POST_TIME_DISP_FMT)
.modal-body
  = @post.content
  .center
    %ul.list-inline
      - @post.users.sort_by {|user| Crush.find_by_user_id_and_post_id(user.id,@post.id).quotient}.reverse.each do |user|
        %li= render "layouts/user_thumbnail_caption", user: user, post: @post
.modal-footer
  = link_to_new_tab "View on Facebook", @post.fb_url, { class: "btn btn-primary" }
