.modal-header
  %button.close{"aria-hidden" => "true", :'data-dismiss' => "modal", type: "button"} ×
  %h4#post-info-modal-label.modal-title POST HEADER HERE
.modal-body
  = @post.content
  %ul.list-inline
    - @post.users.each do |user|
      %li= user.full_name
.modal-footer
  %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
