@import "uchicago-colors";
@import "constants";

$font-stack-header: Oswald, Helvetica, sans-serif;
$font-stack-body: Roboto, Arial, sans-serif;

.navbar {
    min-height: $navbar-min-height;
    background-color: $uchi-blue;
}

#dashboard {
    height: 30%;
    margin-bottom: 10px;
}

#homepage {
    [class*="col-"] {
        position: relative;
        height: 80%;
    }   
}

.thumbnail {
    margin: 0 0 0 0px;
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

#user-best {
    background-color: $uchi-blue-light;
}

.jumbotron {
    .input-group {
        width: 100%;
    }
    .btn {
        width: 100%;
    }
}

#user-panel {
    margin-bottom: 0;
    height: 92vh;
    overflow: hidden;

    #user-table {
        height: 100%;
        display: block;
    }
}

.scrollable {
    overflow: auto;
}


a {
    color: $uchi-gray-dark;

    &:hover { color: $uchi-gray-light; }
}

html {
    overflow-y: scroll;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;

    h1 {
	    margin-bottom: 10px;
    }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font: 100% $font-stack-header;
    font-size: 3em;
    letter-spacing: -2px;
    text-align: center;
}

h2 {
    font: 100% $font-stack-header;
    font-size: 2.0em;
    letter-spacing: -1px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: normal;
    color: $uchi-gray-light;
}

p {
    font: 100% $font-stack-body;
    margin: 0 0 5px;
}

/* header */

#logo {
    font: 100% $font-stack-header;
    float: left;
    margin-right: 10px;
    font-size: 2.4em;
    color: $uchi-gray-light;
    padding-top: 9px;
    font-weight: bold;
    line-height: 1;

    &:hover {
	    color: $uchi-gray-light;
	    text-decoration: none;	
    }
}

.content-wrapper {
    border-left: 0px;
    margin-left: $sidebar-width;

    padding: 0;
    padding-top: 60px;
}

.container {
    padding-left: 0px;
}

#post-table {
    height: 50%;
}

.modal-link {
    cursor: pointer;

}

#sidebar-footer {
    font-size: 12px;
}