@import "bootstrap";

$gray-medium-light: #eaeaea;
$uchi-maroon: #800000;
$uchi-gray-light: #D6D6CE;
$uchi-gray-dark: #767676;
$uchi-blue: #155F83;
$uchi-blue-light: #5B8FA8;
$uchi-blue-dark: #0F425C;


$font-stack-header: Oswald, Helvetica, sans-serif;

.jumbotron {
    .input-group {
        width: 100%;
    }
    .btn {
        width: 100%;
    }
}

.scrollable {
    overflow: auto;
    height: 80%;
}


a {
    color: $uchi-gray-light;
    &:visited { color: $uchi-gray-dark; }

    &:hover { color: $uchi-gray-dark; }
}

html {
    overflow-y: scroll;
}

body {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $uchi-gray-light;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;

    h1 {
	margin-bottom: 10px;
    }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font: 100% $font-stack-header;
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font: 100% Roboto;
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $gray-light;
}

p {
    font: 100% Roboto;
    font-size: 1.1em;
    line-height: 1.7em;
}

/* header */

#logo {
    font: 100% $font-stack-header;
    float: left;
    margin-right: 10px;
    font-size: 2.4em;
    color: $uchi-gray-light;
    /* text-transform: uppercase; */
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    line-height: 1;

    &:hover {
	color: $gray-light;
	text-decoration: none;	
    }
}

.navbar {
    background-color: $uchi-blue;

    a {
        color: $uchi-gray-light;
    }
}



/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: $gray-light;

    a {
	color: #555;

	&:hover {
	    color: #222;
	}
    }

    small {
	float: left;
    }

    ul {
	float: right;
	list-style: none;

	li {
	    float: left;
	    margin-left: 10px;
	}
    }
}