
$uchi-maroon       : #800000;

$uchi-gray-light   : #D6D6CE;
$uchi-gray-dark    : #767676;

$uchi-blue         : #155F83;
$uchi-blue-light   : #5B8FA8;
$uchi-blue-dark    : #0F425C;

$uchi-green        : #8A9045;
$uchi-green-light  : #ADB17D;
$uchi-green-dark   : #616530;

$uchi-yellow       : #FFA319;
$uchi-yellow-light : #FFB547;
$uchi-yellow-dark  : #CC8214;

$uchi-red          : #8F3931;
$uchi-red-light    : #B1746F;
$uchi-red-dark     : #642822;