#post-table.scrollable
  %table.table.table-striped

    - @posts.sort_by {|post| post.fb_created_time}.reverse.each do |post|
      %tr
        %td.media
          = link_to holder_tag("100x100", "User pic", class: "media-object thumbnail img-responsive pull-right"), "#", class: "pull-right"
          .media-body
            .media-heading
              -# TODO: modal contain facebook post
              %h4= post.fb_created_time.strftime("%B %d, %Y %l:%M %p")
            = link_to post.content, post, {:'data-toggle'=>"modal", :'data-target'=>"#homepage-info-modal"}
