%td.media
  .pull-right.media-object.img-responsive
    = render "layouts/user_thumbnail_caption", user: post.user_highest_score, post: post
  .media-body
    .media-heading
      -# TODO: modal contain facebook post
      %h4= post.fb_created_time.strftime(POST_TIME_DISP_FMT)
    = link_to post.content, post, {:'data-toggle'=>"modal", :'data-target'=>"#homepage-info-modal"}

