.sidebar{ role: "navigation" }
  .sidebar-nav.navbar-collapse
    %ul.nav
      %li
        %a{href: "#"}
          = fa_icon "dashboard"
          Dashboard
      %li
        %a{href: "#"}
          = fa_icon "users"
          Users
      %li
        %a{href: "#"}
          = fa_icon "quote-right"
          Posts
      %li
        %a{href: "#"}
          = fa_icon "code"
          Analytics
