#user-info-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "user-info-modal-label", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", :'data-dismiss' => "modal", type: "button"} ×
        %h4#user-info-modal-label.modal-title USER NAME HERE
      .modal-body
        USER INFO HERE
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
